.mediaview{
    -fx-background: red;
}
#slider {
    /* default track color: */
    -slider-filled-track-color: darkgray ;
    -slider-track-color: -slider-filled-track-color ;
}

/* Make thumb same color as filled part of track */
#slider .thumb {
    -fx-background-color: -slider-filled-track-color ;

}

#slider .track {
    -fx-background-color: -slider-track-color ;
}

#slider2 {
    /* default track color: */
    -slider-filled-track-color: orangered ;
    -slider-track-color: -slider-filled-track-color ;
}

/* Make thumb same color as filled part of track */
#slider2 .thumb {
    -fx-background-color: -slider-filled-track-color ;
        -fx-pref-height: 12px;
        -fx-pref-width: 12px;

}

#slider2 .track {
    -fx-background-color: -slider-track-color ;
    -fx-pref-height: 3px;

}

.root{
    -color1: lightsteelblue;
    -color2: lightgrey;
    -color3: green;
    -color4: lightcyan;
    -color5: purple;
    -color6: white;
    -color7: #202124;
    -color10: black;
}
#mediahbox{
 -fx-background-color: -color2;
}
.split-pane-divider {
  -fx-padding: 1 ;
}

.tree-cell {
    -fx-background-color: -color1; // Default color
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: -color4; // Focused color
     -fx-text-fill: -color10;
}

.tree-cell:filled:selected{
    -fx-background-color: -color4; // Unfocused color
    -fx-text-fill: -color10;
}
